@import "./variables.pcss";
@import "./components/menu.pcss";
@import "./components/home.pcss";

@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
    * {
        @apply font-mono;
    }
    body {
        @apply bg-pallette-black text-gray-200;
    }
}

@layer utilities {
    .page-section {
        @apply relative py-20;
    }
    .page-wrapper {
        max-width: 1500px;
        @apply w-[calc(100%-40px)] mx-auto;
    }
}
