.footer-social-link {
    @apply mt-2 flex items-center transition-all duration-300;
}

.footer-social-icon {
    @apply mr-2 w-8 text-center text-lg;
}

.footer-contact-link {
    @apply mt-2 flex items-center;
}

.footer-contact-link--text {
    @apply border-b-2 border-transparent transition duration-300 group-hover:border-pallette-yellow;
}
