@layer components {
    .heading-shadow {
        text-shadow: 5px 5px 0 var(--pallette-dark-blue),
            10px 10px 0 var(--pallette-blue);
    }
    .side-shape {
        @apply absolute top-0 h-full w-56 object-cover opacity-50;
    }
}
