.nav-link-item {
    @apply mt-2 flex items-center justify-start bg-slate-900 py-4 px-4 text-xl text-white;
    span {
        @apply block w-12;
    }
    span:nth-child(1) {
        @apply text-xl;
    }
    span:nth-child(2) {
        @apply w-max;
    }
}
